{% set etcd = salt['grains.filter_by']({
    'Debian': {
        'configfile': '/etc/default/etcd',
        'data_dir': '/var/lib/etcd/default',
        'wal_dir': '',
    },
}, merge=salt['pillar.get']('etcd:lookup')) %}
