{% set etcd = salt['grains.filter_by']({
    'Debian': {
        'configfile': '/etc/default/etcd',
        'data-dir': '/var/lib/etcd/default',
        'wal-dir': '',
    },
}, merge=salt['pillar.get']('etcd:lookup')) %}
