{% set bootstrap = salt['grains.filter_by']({
    'Debian': {
        'issue': '/etc/issue',
        'issue_net': '/etc/issue.net',
        'motd': '/etc/motd',
        'fortunes': '/usr/share/games/fortunes',
        'fortune_bin': '/usr/games/fortune',
        'skel': '/etc/skel',
        'bash_bashrc': '/etc/bash.bashrc',
    },
    'Arch': {
        'issue': '/etc/issue',
        'issue_net': '/etc/issue.net',
        'motd': '/etc/motd',
        'fortunes': '/usr/share/fortune',
        'fortune_bin': '/usr/bin/fortune',
        'skel': '/etc/skel',
        'bash_bashrc': '/etc/bash.bashrc',
    },
}, merge=salt['pillar.get']('bootstrap:lookup')) %}
