{# vi: set ft=jinja: #}

{% import_yaml "bootstrap/defaults.yaml" as defaults %}
{% import_yaml "bootstrap/osfamilymap.yaml" as osfamilymap %}

{# merge OS-specific defaults #}
{% set osfamily = salt['grains.filter_by'](osfamilymap, grain='os_family', merge=defaults.bootstrap) or{} %}
{% do defaults.bootstrap.update(osfamily) %}

{# merge overrides #}
{% set lookup = salt['pillar.get']('bootstrap:lookup', default={}, merge=True) %}
{% do defaults.bootstrap.update(lookup) %}

{# merge all #}
{% set bootstrap = salt['pillar.get']('bootstrap', default=defaults['bootstrap'], merge=true) %}
