{% set pki = salt['grains.filter_by']({
    'Debian': {
        'dir': '/usr/local/share/ca-certificates',
        'cert': '/usr/local/share/ca-certificates/cluster.crt',
        'ca_minion': 'salt-minion',
        'ca_signing_policies': '/etc/salt/minion.d/signing_policies.conf',
        'ca_dir': '/etc/pki',
        'ca_dir_issued_certs': '/etc/pki/issued_certs',
        'ca_key': '/etc/pki/ca.key',
        'ca_cert': '/etc/pki/ca.crt',
    },
}, merge=salt['pillar.get']('pki:lookup')) %}
